@model FlightViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Flight_name" class="control-label"></label>
                <input asp-for="Flight_name" class="form-control" />
                <span asp-validation-for="Flight_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight_descriptiom" class="control-label"></label>
                <input asp-for="Flight_descriptiom" class="form-control" />
                <span asp-validation-for="Flight_descriptiom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight_Type" class="control-label"></label>
 <select asp-for="Flight_Type" asp-items="@Html.GetEnumSelectList<FlightType>()" class="form-control">
                    <option>--- Select a language ---</option>
                </select>
                <span asp-validation-for="Flight_Type" class="text-danger"></span>
            </div>
            
                   
                       
     
            <div class="form-group">
                <label asp-for="flight_total_capacity" class="control-label"></label>
                <input asp-for="flight_total_capacity" class="form-control" />
                <span asp-validation-for="flight_total_capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
