
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="one" >
   <center> <h1 style="color:black">User Registration</h1></center>
  </div>


  <section class="vh-100" >
    <div class="container-fluid h-custom" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        @*<div class="col-md-9 col-lg-6 col-xl-5">
          <img src="css/download.png"
            class="img-fluid" alt="Sample image" style="margin-left: 13%;">
        </div>*@
        <div class="col-md-8 col-lg-6 col-xl-3 offset-xl-1">
          <form method="post">


                    <div>
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid mt-4">
                    <button class="btn btn-primary">Register</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
              
                
  
          </form>
        </div>
      </div>
    </div> 
  </section>
